body {
    background: url("WhatsApp\ Image\ 2025-11-10\ at\ 9.20.01\ PM.jpeg");
    font-family: 'Poppins', sans-serif;
    height: 100vh;
   
}

#img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(2px);
    z-index: -1;
}

#main-text {
    position: absolute;
    color: black;
    top: 450px;
    left: 300px;
    font-size: 40px;
}

#main-text2 {
    background-color: #fff;
    opacity: .8;
    font-size: medium;
    color: black;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
}

form {
    background-color: white;
    height: auto;
    width: 350px;
    margin-left: 950px;
    margin-top: 150px;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    color: #6A1B9A;
    text-align: center;
}

.form p {
    font-size: medium;
    text-align: center;
    margin-bottom: 20px;
}

.form a {
    color: blue;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 3px solid white;
    outline: none;
    padding: 10px;
    width: 80%;
}

.input-container {
    margin-left: 10px;
    border-bottom: 2px solid #6A1B9A;
}

input[type="button"] {
    background-color: #6A1B9A;
    color: #fff;
    width: 90%;
    padding: 15px;
    font-size: 1.2rem;
    margin-left: 18px;
    border-radius: 30px;
    font-weight: 700;
}

#sign-btn {
    margin-top: 20px;
}

#forgot {
    margin-left: 5px;
}
