* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
   
}

#menu-a {
    margin-top: 40px;
    margin-right: 70px;
    font-size: 20px;
}

.menu-bar a {
    margin-left: 40px;
    transition: .3s;
    text-decoration: none;
    color: black;
    opacity: .9;
}

 i{
    padding:10px;
}

.menu-bar a:hover {
    font-size: 21px;
    text-decoration: underline;
}

.menu-logo {
    display: flex;
}

.menu-para {
    margin-top: 10px;
    margin-left: 20px;
}

#logo {
    font-size: 2.0rem;
    font-weight: bold;

}
#tag{
    display: flex;
}

.menu-pic {
    background-image: url("logo.png");
    height: 100px;
    width: 100px;
    background-size: cover;
}



.button {
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
}

.button>p {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-left: 30px;
    width: 55px;
    height: 11px;
    text-align: center;
    padding-top: 2px;
    font-size: 19px;
}

#main-text {
    font-size: 28px;
    color: #342b50;
    text-align: center;
    margin-top: 50px;
    height: 150px;
}

#text-two {
    display: block;
    font-size: 1rem;

}

.btn a{
    color: white;
    text-decoration: none;
}


#main-btn {
    background: #c7ecc7;
    color: black;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 16px;
    transition: .3s;
    width: 200px;
    margin-top: 30px;
}


#main-btn:hover {
    font-size: 20px;
    color: #fff;
    background-color: #0f766e;

}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.feature-card {
    background: white;
    width: 260px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: 0.3s;
    border-top: 6px solid #0f766e;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
    border-top: none;
    border-left: 6px solid #0f766e;
}


.feature-card h3 {
    color: #0f766e;
    margin: 15px 0 8px;
}

.feature-card p {
    color: #475569;
    font-size: 14px;
}

.foot{
    background-color: #0f766e;
    height: 70px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}
.foot p{
    padding: 30px;
}